.search-background {
    padding: 50px 0;
    min-height: 100vh;
    position: relative; /* Required for positioning the pseudo-element */
    background-image: url('https://media.cntraveler.com/photos/62ea817eaf14e65bfedc7cec/16:9/w_1920,c_limit/Long%20Haul%20Flight-2022_00-Lede.jpg');
    background-size: cover; /* Cover the entire container with the background image */
    background-position: center center; /* Center the background image */
    width: 100%; /* Ensure the container spans the entire width */ /* Set the container height to the viewport height */
    /* Create a dark overlay using a pseudo-element */
    
}



